html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
}

a {
  text-decoration: none;
  color: black;
  opacity: 0.5;
  transition: 0.5s ease-in-out opacity;
}

a:hover {
  opacity: 1;
}

#fbuttons {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  display: grid;
  grid-auto-rows: 40px;
}

#fbuttons a {
  opacity: 0.5;
  transition: 0.5s ease-in-out opacity;
}

#fbuttons a:hover {
  opacity: 1;
}

.info {
  font-size: 10px;
  background-color: rgb(245, 243, 243);
}

.subtitle {
  font-size: 14px;
  font-weight: bold;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.point {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.ml {
  background-color: rgb(138, 138, 226);
}

.da {
  background-color: rgb(157, 223, 157);
}

.oop {
  background-color: rgb(230, 101, 101);
}

@media (max-width: 700px) {
  
}