.u-section-1-1 {
  background-image: url("images/_DSC3408.JPG");
  background-position: 0% 69.53%;
  background-size: 110%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1-1 .u-text-1 {
  width: 745px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 2000ms;
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-1-1 .u-text-2 {
  width: 837px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 2250ms;
  margin: 30px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1-1 {
    background-position: 31.23% 68.28%;
    background-size: auto 135%;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 {
    background-position: 35.15% 68.28%;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 {
    background-position: 33.61% 71.82%;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(76,115,151,0.8), rgba(76,115,151,0.8)), url("images/sample.png");
  background-position: 37.06% 100%;
  background-size: auto 105%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1-2 .u-text-1 {
  width: 745px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 2000ms;
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-1-2 .u-text-2 {
  width: 837px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 2250ms;
  margin: 30px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1-2 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}.u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/logo1.png");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1-3 .u-text-1 {
  width: 745px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 2000ms;
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-1-3 .u-text-2 {
  width: 837px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 2250ms;
  margin: 30px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1-3 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1-3 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}.u-block-89bd-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-89bd-3 {
  position: absolute;
  left: 0;
}

.u-block-89bd-4 {
  position: absolute;
  right: 0;
}